<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raters</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container">

<a href='/'>Home</a>
<body>
    {% for rater in raters %}
        <div>Rater ID: {{ rater }}</div>
        <div>Gender: {{ rater.gender }}</div>
        <div>Occupation: {{ rater.occupation }}</div>
        <div>Zip Code: {{ rater.zip }}</div>
    {% endfor %}
    <hr>

    {% for rating in ratings %}
        <p>Movie: <a href='/movies/{{ rating.movie }}'>{{ rating.movie.title }}</a><br>Rating: {{ rating.rating }}</p>

    {% endfor %}
</body>
</div>
</body>
</html>